spring:
  application:
    name: eproc-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/eproc_db
    username: postgres
    password: complex26
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true

logging:
  level:
    root: INFO
    org.springframework.web: INFO
